VITE_KEYCLOAK_JSON={"realm":"Local","auth-server-url":"http://localhost:8080/auth/","ssl-required":"external","resource":"sistema-front","public-client":true,"confidential-port":0}
VITE_API_URL=http://localhost:3000/sistema/api/v1
VITE_BASE_URL=/sistema
